@tailwind base;
@tailwind components;
@tailwind utilities;

.video {
  position: relative;
  padding-bottom: 56.25%;
}

iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.iframe-link{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
